<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <h1>Привет!</h1>
    <p>Это пример бота для Facebook Messanger</p>


  </div>
</div>




</body>
</html>
